<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <script src="static/js/vendor/modernizr.js"></script>
    <script src="static/js/vendor/modernizr.js"></script>
    <!-- Modernizr is a JavaScript library that detects HTML5 and CSS3 features in the user's browser -->
  </head>
  <body>
    <div id="input" class="left" style="height:100%;width:50%;">LEFT PART</div>
    <div id="relateinfo" class="right" style="height:100%;width:50%;">
      <div id="relate_people">
        Relate people:
        <ul class="no-bullet accordion">
          <li>
            <div class="row">
              <div class="photo small-2 columns">
                <img class="th" src="http://static.aminer.org/upload/avatar/1852/642/1365/53f42f36dabfaedce54dcd0c.jpeg">
              </div>
              <div class="small-10 columns">
                <div class="name">Jiawei Han (韩家炜)</div>
                <div class="org">Department of Computer Science, University of Illinois at Urbana-Champaign</div>
                <div class="position">Professor</div>
                <div class="pubinfo">
                  pubinfo:
                  <span class="label">h_index : 117</span>
                  <span class="label">n_pubs : 783</span>
                  <span class="label">n_citation : 81075</span>
                </div>
                <div class="tags">
                  tags:
                  <span class="label tag">data</span>
                  <span class="label tag">internet</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">six</span>
                  <span class="label tag">a</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                </div>
              </div>
            </div>
            <ul class="accordion " data-accordion>
              <li class="accordion-navigation">
                <a href="#detail">click for more details</a>
                <div id="detail" class="content">
                  <div class=similarpersons>
                    contact:
                    <div class="contact">
                      <ul class="vcard">
                        <li class="fn">Gaius Baltar</li>
                        <li class="street-address">123 Colonial Ave.</li>
                        <li class="locality">Caprica City</li>
                        <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
                        <li class="email"><a href="#">g.baltar@example.com</a></li>
                      </ul>
                    </div>
                    similar persons:
                    <ul class="small-block-grid-6">
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <!-- Add dropdown here to view details -->
          </li>
          <li>
            <div class="row">
              <div class="photo small-2 columns">
                <img class="th" src="http://static.aminer.org/upload/avatar/1852/642/1365/53f42f36dabfaedce54dcd0c.jpeg">
              </div>
              <div class="small-10 columns">
                <div class="name">Jiawei Han (韩家炜)</div>
                <div class="org">Department of Computer Science, University of Illinois at Urbana-Champaign</div>
                <div class="position">Professor</div>
                <div class="pubinfo">
                  pubinfo:
                  <span class="label">h_index : 117</span>
                  <span class="label">n_pubs : 783</span>
                  <span class="label">n_citation : 81075</span>
                </div>
                <div class="tags">
                  tags:
                  <span class="label tag">data</span>
                  <span class="label tag">internet</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">six</span>
                  <span class="label tag">a</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                  <span class="label tag">nop</span>
                </div>
              </div>
            </div>
            <ul class="accordion " data-accordion>
              <li class="accordion-navigation">
                <a href="#detail">click for more details</a>
                <div id="detail" class="content">
                  <div class=similarpersons>
                    contact:
                    <div class="contact">
                      <ul class="vcard">
                        <li class="fn">Gaius Baltar</li>
                        <li class="street-address">123 Colonial Ave.</li>
                        <li class="locality">Caprica City</li>
                        <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
                        <li class="email"><a href="#">g.baltar@example.com</a></li>
                      </ul>
                    </div>
                    similar persons:
                    <ul class="small-block-grid-6">
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                      <li class="personthumbnail">
                        <div><img class="th" src="http://static.aminer.org/picture/02220/Charu_C_Aggarwal_1352372489947.jpg" alt="Charu C. Aggarwa"></div>
                        <div>Charu C. Aggarwa</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <!-- Add dropdown here to view details -->
          </li>
        </ul>
      </div>
      <div id="relate_pub">
        Relate pub:
        <ul>
          <li>none</li>
        </ul>
      </div>
    </div>
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation/foundation.js"></script>
    <script src="static/js/foundation/foundation.accordion.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>